.loader-container {
    margin-top: 15px;
}

.report-div {
    margin: 50px;
    
    a {
        border: 1px solid black;
        text-decoration: none;
        color: black;
        padding: 10px;
        border-radius: 4px;
    }

}
