.upload-div {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 30px 20px 0px;

    .upload-btn {
        border: 2px solid white;
        color:white;
        background-color: blue;
        padding: 8px 20px;
        border-radius: 8px;
        font-size: 15px;
    }

    .upload-input {
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }

    p {
        padding: 0px;
        margin: 0px;
        font-size: 12px;
    }
}